services:
  ecommerce-database:
    container_name: ecommerce-database
    image: postgres
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_USER: admin
    ports:
      - 5432:5432
    volumes:
      - ./postgres:/docker-entrypoint-initdb.d
    networks:
      - ecommerce-network

  ecommerce-authorization-server:
    container_name: ecommerce-authorization-server
    image: ecommerce-authentication-server:latest
    build:
      context: spring-authorization-server
      dockerfile: local.Dockerfile
    ports:
      - 8080:8080
    depends_on:
      - ecommerce-database
    networks:
      - ecommerce-network
    volumes:
      - ./spring-authorization-server/authorization-server-cert-jwk.p12:/tmp/jwk-keystore.p12

networks:
  ecommerce-network:
    driver: bridge

    # - ./sveltekit/init.sql:/docker-entrypoint-initdb.d/init.sql
      # - pgdata:/var/lib/postgresql/data
# volumes:
#   pgdata:
