<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
<!--    <link th:href="@{css/main.css}" rel="stylesheet" />-->
    <title>Login</title>
</head>
<body>
<h1>Login</h1>

<form action="#" method="POST" autocomplete="off">
    <label for="username">email</label>
    <input type="text" id="username" autocomplete="off" />

    <label for="password">password</label>
    <input type="password" id="password" autocomplete="off" />

    <input type="submit" value="submit">

    <a href="/oauth2/login/google">Google</a>
</form>

</body>
</html>